<div class="center hero-unit">
<h1>About</h1>
<p>This project was born out of the curiosity to Ruby on Rails</p>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#version-0_3" data-toggle="tab">Version 0.4</a>
		</li>
		<li>
			<a href="#version-0_3" data-toggle="tab">Version 0.3</a>
		</li>
		<li>
			<a href="#version-0_2" data-toggle="tab">Version 0.2</a>
		</li>
		<li><a href="#version-0_1" data-toggle="tab">Version 0.1</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="version-0_4">
			<ul>
				<li><i class="icon-home"></i> Sign Up button on the homepage removed after the user has signed up / logged in</li>
			</ul>
		</div>
		<div class="tab-pane" id="version-0_3">
			<ul>
				<li><i class="icon-trash"></i> Delete users</li>
				<li><i class="icon-asterisk"></i> Administrator role</li>
				<li><i class="icon-eye-open"></i> Show all users</li>
				<li><i class="icon-pencil"></i> Update your profile</li>
			</ul>
		</div>
		<div class="tab-pane" id="version-0_2">
			<ul>
				<li><i class="icon-share-alt"></i> Permanent "Remember Me" function by default</li>
				<li><i class="icon-user"></i> Dynamical navigation for the online / offline users</li>
				<li><i class="icon-user"></i> User Log in / Log out</li>
			</ul>
		</div>
		<div class="tab-pane" id="version-0_1">
			<ul>
				<li><i class="icon-lock"></i> SSL support</li>
				<li><i class="icon-camera"></i> Gravatar user picks</li>
				<li><i class="icon-user"></i> User registration</li>
			</ul>
		</div>
	</div>
</div>
</div>
