<div class="center hero-unit">
<h1>About</h1>
<p>This project was born out of the curiosity to Ruby on Rails</p>
<p>Version History:</p>
<ul class="version-history">
		<li><span class="badge badge-info">0.2</span>
			<li>Permanent Rememeber Me function by default</li>
			<li>Dynamical navigation</li>
			<li>User Log in / Log out</li>
		</ul>
		</li>	
		<li><span class="badge badge-info">0.1</span>
			<li>SSL support</li>
			<li>Gravatar user picks</li>
			<li>User registration</li>
		</ul>
	</li>
<ul>
</div>