<div class="center hero-unit">
	<h1>MicroSamplt</h1>
	
	<h2>Sharing the tiny pieces of your life with others</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

